<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="row" style="padding: 20px;">
		<div class="col md-4"></div>
		<div class="col md-4" id="login" style="text-align: center;display: block;">
			<button class="form-control btn-success" style="width: 100px;float: right;" onclick="document.getElementById('login').style.display='none';document.getElementById('signup').style.display='block';">Sign UP</button><br><br>
			<h5>Sign In</h5>
			<form method="POST">
				<input type="text" name="username" class="form-control" placeholder="User Name"><br>
				<input type="password"  class="form-control" name="pass" placeholder="Password"><br>
				<input type="submit" class="form-control btn-primary" name="btn_login" value="Login" style="width: 75px;float: right;">
			</form>
		</div>
		<div class="col md-4" id="signup" style="display: none;text-align: center;">
			<form method="POST">
				<h5>Sign UP</h5><br>
				<input type="text" class="form-control" name="uname" placeholder="User Name"><br>
				<input type="text" class="form-control" name="pass" placeholder="Password"><br>
				<input type="text" class="form-control" name="conf_pass" placeholder="Confirm Password"><br>
				<input type="submit" class="form-control btn-success" name="btn_signin" value="Sign Up" onclick="document.getElementById('login').style.display='block';document.getElementById('signup').style.display='none';">
			</form>
		</div>
		<div class="col md-4"></div>
	</div>
</body>
</html>